@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&family=Lobster&family=Piedra&display=swap');
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #244570;
}

.card1 {
  padding-bottom: 15px;
}

.contactButtonContainer {
  background-color: #000;
  margin-top: 15px;
}

.contactButton {
  text-align: center;
}
.contactContainer {
  padding: 0;
}

.dropDown {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: #000;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #fff;
}

h5 {
  font-weight: bold;
}


.hello {
  margin-left: 17px;
  margin-top: 20px;
  font-family: 'Lobster', cursive;
}

hr {
  border: 2px solid red;
  width: 50%;
  border-radius: 2px;
}

.mainHeading {
  font-size: 70px;
  font-family: 'Lobster', cursive;
  color: ivory;
}

.myImg {
  max-width: 100%;
  position: relative;
}

.pb1 {
  height: 28px,
}

.pg1 {
  height: 28px,
}

.redLine {
  height: 100%;
  margin: 0;
}


.row1 {
  margin: 0;
  background-color: #244570;
}

.rowImage {
  background: url("../Images/background.jpg") top center no-repeat;
  width: 100%;
}

.skillsPara {
  max-width: 90%;
  margin: auto;
  text-align: center;
  align-items: center;
  padding-bottom: 15px;
}

.skillSection {
  align-items: center;
}
.smalltext{
  color: #000;
}